<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
            <p class="lead">
                {{ if .Site.Params.ContactEmail }}
                <a href="mailto:{{ .Site.Params.ContactEmail }}">{{ .Site.Params.ContactEmail }}</a>
                {{end}}
                <br/>
                Raleigh, NC
            </p>
        </div>

        <div class="bottom-sidebar">
            <ul class="sidebar-nav">
                <li><a href="/">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About Me</a></li>
            </ul>
            <img src="files/profile.png"/>
        </div>
    </div>
</div>
