{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

<div class="content container">
    <div class="posts">
        {{ range where .Data.Pages "Section" "post"}}
        <div class="post">
            <h2 class="post-title">
                <a href="{{ .Params.linkurl }}">
                    {{ .Title }}
                </a>
            </h2>
            {{ .Description }}
        </div>
        {{ end }}
        <div class="post">
            <h1 class="post-title">
                <a href="/blog">
                    Blog
                </a>
            </h1>
            {{ range first 3 (where .Data.Pages "Section" "blog")}}
            <div>
                <time>{{ .Date.Format "1/2/2006" }}</time>
                - <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            {{ end }}
            <div>
                <a href="/blog">more</a>
            </div>
            <br/>
        </div>
    </div>
</div>
</body>
</html>
